doctype html 
html
  head
    include ../head 
    +head
    
    
  body

    
    block gtm 
        include gtm.pug 
        +gtm

    block navbar

        include ../navbar.pug
        +navbar


    block banner 
    
      block content
        .container
            .card.text-white
                img.card-img(src='../static/images/blog/Top-Universities-to-consider-to-study-in-Australia.jpg' alt='Top-Universities-to-consider-to-study-in-Australia')

      .container 
        .row.g-4
          .col-md-2
            .mt-4.pt-4.position-sticky(style='top: 6rem;')
              p
                a(href='#1') ACADEMICS 
                  
              p
                  a(href='#2') The University of Melbourne
            
              p
                  a(href='#3') Australian National University 
              p
                a(href='#4') The University Of Sydney
                  
              p
                  a(href='#5') The University of Queensland
            
              p
                  a(href='#6') Monash University
                    
              p
                a(href='#7') GRADUATE EMPLOYABILITY
                  
              p
                  a(href='#8') The University of Sydney
            
              p
                  a(href='#9') The University of Melbourne
              p
                a(href='#10')  The University of New South Wales
                
              p
                  a(href='#11') The University of Queensland
              p
                a(href='#12')  University of Technology, Sydney (UTS)
                
              
              


          .col-md-10
                    
            section#aboutMain.container.my-4
                  //-.row.featurette.bg-light.rounded-2
                  //-.aboutMainclass.col-md-7.order-md-2.order-2
                  h2.text-center
                    | Top Universities To Consider To Study In Australia
                  br  
                  p
                    | Australia! There is nothing like it. The Land Down Under is being preferred more and more for education among Indian students. There are tons of opportunities to learn and travel in this incredibly beautiful land of kangaroos and koalas.
                  p 
                    | Choosing the right university is an important decision, but it doesn’t have to be a difficult one. All in all there are 43 universities in Australia that we have narrowed down to the top 5 on the basis of Academics and Graduate Employability.
 
              
            section#1.container
                  //- .row.featurette.bg-light.rounded-2
                  //- .aboutMainclass.col-md-7.order-md-1.order-2
                  h3.text-center
                    | ACADEMICS  
                    
                  p
                    | The prestigious Group of Eight comprises of the top ranking Australian universities with most of them sharing a long history and a well-developed research focus. In world rankings Go 8 Universities are consistently the highest ranked Australian Universities. All Go8 member Universities are ranked in the top 150 institutions worldwide in the Academic Ranking of World Universities from Shanghai Jiao Tong University (ARWU), the Times Higher Education World Rankings (THES), the QS World University Rankings (QS) and the US New and world Report. Given below are the top 5 universities among the Group of Eight.
                
      
            section#2.container.my-4
              .row.featurette.bg-light.rounded-2
                .aboutMainclass.col-md-7.order-md-2.order-2
                  h4.text-center
                    | The University of Melbourne
                     
                  p
                    | Located in the cultural capital of Australia, The University of Melbourne is Australia’s leading university. With over 100 research centers and institutes, it has a distinguished history of high achievement.  Their graduates work across a diverse range of industries in the private, government and non-profit sectors. Among its notable alumni are four Australian Prime Ministers, five Governors-General and an Academy Award winner. Nine Nobel laureates have been students or faculty, the most of any Australian university.
                    

                .aboutMainclass.col-md-5.order-md-1.order-1
                  img(src="../static/images/blog/newblog/university-of-melbourne.png", alt="University-of-Melbourne-image", srcset="")
           
            section#3.container
              .row.featurette.bg-light.rounded-2
                .aboutMainclass.col-md-7.order-md-1.order-2
                  h4.text-center
                    | Australian National University 
                    
                  p
                    | One of the leading and most sought after universities in Australia, the Australian , National University located in the capital city of Canberra, boasts of six Nobel Laureates among their staff and alumni.
                  p 
                    | Well prepared to address complex contemporary changes, their graduates are in demand the world over,as a result of their increased focus on excellence in research and education.
 
                .aboutMainclass.col-md-5.order-md-2.order-1
                  img(src="../static/images/blog/newblog/australian-national-university.png", alt="Australian-National-University ", srcset="")
           
            section#4.container.my-4
              .row.featurette.bg-light.rounded-2
                .aboutMainclass.col-md-7.order-md-2.order-2
                  h4.text-center
                    | The University Of Sydney
                    
                  p
                    | Founded in 1850, Australia’s first university is located in Sydney. It is the third leading university in Australia. Leadership through excellence in teaching and research is what they believe in, thus offering the widest range of academic programs of any university in Australia. Across their faculties, they have research teams working on creating cleaner fuels, faster internet, treatment for chronic illness, and more sustainable ways of living.

                .aboutMainclass.col-md-5.order-md-1.order-1
                  img(src="../static/images/blog/newblog/university-of-sydney.png", alt="The-University-Of-Sydney-image", srcset="")
            
            section#5.container
              .row.featurette.bg-light.rounded-2
                .aboutMainclass.col-md-7.order-md-1.order-2
                  h4.text-center
                    | The University of Queensland
                    
                  p
                    | The University of Queensland is located in Brisbane, Queensland. Having won the mostAustralian awards for University Teaching than any other in the country, they have a strong focus on teaching excellence and attract a majority of Queensland’s highest academic  achievers as well as top interstate and overseas students.
                  p 
                    |  The educators of UQ are committed to excellence in learning experiences and outcomes for their students. Their Student Employability Centre provides students with opportunities, choices and support that will enable them to achieve their individual aspirations, to become leaders in their chosen fields and to positively impact on the society in which they live. The University’s outstanding 250,000-plus alumni include a Nobel laureate, two Fortune 500 company CEOs, an Academy Award winner, and leaders in government, law, science, public service and the arts.
                .aboutMainclass.col-md-5.order-md-2.order-1
                  img(src="../static/images/blog/newblog/university-of-queensland.png", alt="The-University-of-Queensland", srcset="")
          
            section#6.container.my-4
              .row.featurette.bg-light.rounded-2
                .aboutMainclass.col-md-7.order-md-2.order-2
                  h4.text-center
                    | Monash University
                    
                  p
                    | Monash University is a public research university based in Melbourne, Australia. Founded in 1958, it is the second oldest university in the State of Victoria. A modern and progressive university, studying at Monash will challenge you to find your best. Globally connected, they boast of an alumni network that is at the front line of social and technological progress at many of the world’s best companies. A Monash degree offers experiences within the classroom and beyond that prepare its graduates for the world of work. This ensures that students graduate having refined their knowledge and skills in the real world and are ready to apply their learning to the workplace.
                .aboutMainclass.col-md-5.order-md-1.order-1
                  img(src="../static/images/blog/newblog/monash-university.png", alt="Monash-University-image", srcset="")
           
            section#7.container
                  //-.row.featurette.bg-light.rounded-2
                  //-.aboutMainclass.col-md-7.order-md-1.order-2
                  h3.text-center
                    | GRADUATE EMPLOYABILITY
  
                  p
                    | Here we bring to you the top 5 Australian universities featured in the QS Graduate Employability Rankings 2018, a ranking aiming to celebrate the institutions producing the most employable graduates, based on a methodology which considers each university’s alumni outcomes, employer reputation, graduate employment rate and more.
               
            section#8.my-4
              .row.featurette.bg-light.rounded-2
                .aboutMainclass.col-md-7.order-md-2.order-2
                  h4.text-center
                    | The University of Sydney
                    
                    
                  p
                    | Ranked fourth in the world in terms of graduate employability, the University of Sydney continues to be the leading university for graduate employability. It has been ranked eighth, its highest score for Employer Student Connections. The university actively hosts career fairs, employer information sessions, workshops and other events to aid student employer networking.

                .aboutMainclass.col-md-5.order-md-1.order-1
                  img(src="../static/images/blog/newblog/university-of-sydney.png", alt="The University of Sydney image", srcset="")
           
            section#9.container
              .row.featurette.bg-light.rounded-2
                .aboutMainclass.col-md-7.order-md-1.order-2
                  h4.text-center
                    | The University of Melbourne

                  p
                    | Australia’s leading university, the University of Melbourne, is ranked seventh in the world for graduate employability. The university boasts of four Australian prime ministers among its alumni, plus other successful figures such as Germaine Greer and Barry Humphries. Its start-up accelerator, Melbourne Accelerator Program (MAP), was named the eighth best in the world in 2015.

                .aboutMainclass.col-md-5.order-md-2.order-1
                  img(src="../static/images/blog/newblog/university-of-melbourne.png", alt="The University of Melbourne", srcset="")
           
            section#10.my-4
              .row.featurette.bg-light.rounded-2
                .aboutMainclass.col-md-7.order-md-2.order-2
                  h4.text-center
                    | The University of New South Wales

                    
                    
                  p
                    | Next up we have the University of New South Wales, located in Sydney. A new entrant ranked 36th globally in terms of graduate employability, UNSW was awarded the maximum of five stars for “Getting a Job” in the Good Universities Guide, which also found that 76% of undergraduates find a job within four months of graduating.

                .aboutMainclass.col-md-5.order-md-1.order-1
                  img(src="../static/images/blog/newblog/university-of-new-south-wales.png", alt="The University of New South Wales image", srcset="")
            
            section#11.container
              .row.featurette.bg-light.rounded-2
                .aboutMainclass.col-md-7.order-md-1.order-2
                  h4.text-center
                    | The University of Queensland

                  p
                    | Moving into the top 50 universities globally for graduate employability, The University Queensland boasts of a higher graduate employment rate than the national average. The university offers its students a free online employability course along with a variety of other initiatives such as short-term global experiences and student exchange programs, internships, career workshops and more.

                .aboutMainclass.col-md-5.order-md-2.order-1
                  img(src="../static/images/blog/newblog/university-of-queensland.png", alt="The University of Queensland", srcset="")
           
            section#12.my-4
              .row.featurette.bg-light.rounded-2
                .aboutMainclass.col-md-7.order-md-2.order-2
                  h4.text-center
                    | University of Technology, Sydney (UTS)

                    
                    
                  p
                    | Taking up the  5th spot in our list is the University of Technology, Sydney (UTS) which is ranked  69th  globally for graduate employability. Recent findings have shown that 76% of Australian-resident UTS graduates are in employment three months after study, earning an average salary of AU$67,047 (~US$53,130). UTS runs a variety of careers fairs and events, and offers students work-ready programs such as the UTS Accomplish Intensive program, a course of career workshops.

                .aboutMainclass.col-md-5.order-md-1.order-1
                  img(src="../static/images/blog/newblog/university-of-technology-sydney.png", alt="University of Technology Sydney image", srcset="")
            
            
            




    //- footer start

    block footer
        footer#footer
            include ../footer.pug 
            +footer