doctype html 
html
  head
    include head 
    +head
    title About Maxxcell Institute & Overseas Education Services #{title}
    meta(name='keywords' content='Maxxcell Institute of Professional Studies, Maxxcell Overseas Education Services, Know about Maxxcell')
    meta(name='description' content='One of the most trusted institute since 2013 for overseas counselling and IELTS/ GRE/ CAT Training. Maxxcell takes pride in its legacy of fulfilling the ambition of more than 5000 students by placing them in their dream universities across the globe')
    
  body

    
    block gtm 
        include gtm.pug 
        +gtm

    block navbar

        include navbar.pug
        +navbar


    block banner 
    
      section#banner.container
        
          .row
            #topBannerone.col-md-6.topBanner
              .text-center
                h1 Let us partner with you in your Study Abroad journey
                p 
                  
                 
            #topBannerimg.col-md-6.topBanner
              div
                img.responsiveImg(src='../static/images/about/About-us-Banner.jpg' alt='maxxcell-institute-team')

      .container 
        .row.g-4
          .col-md-2
            .mt-4.pt-4.position-sticky(style='top: 6rem;')
              p
                a(href='#aboutMain') About Maxxcell
                  
              p
                  a(href='#missionVision') Mission and Vision
            
              p
                  a(href='#founder') Founder
            
              


          .col-md-10
                    
            section#aboutMain.container.my-4
              .row.featurette.bg-light.rounded-2
                .aboutMainclass.col-md-7.order-md-2.order-2
                  h2.text-center
                    | Welcome to Maxxcell Institute & Overseas Education Services 
                  br  
                  p
                    |Goa's most trusted institute since 2013 for overseas counselling and IELTS/ GRE/ CAT Training. Maxxcell takes pride in its legacy of fulfilling the ambition of more than 5000 students by placing them in their dream universities across the globe and bagging upto 100% scholarships for many of them. Our students roar and shine in the competition by achieving 9/9 in IELTS, enter the best universities by claiming winning scores of 335/340 in GRE and 99%ile in CAT exam.
                    br
                    br

                    |Our experienced faculty members and expert counsellors love to see a victorious smile on students' face and hence never think twice before going an extra mile for them. From the IELTS/ GRE preparation to Admission Counselling and VISA Process we hand hold students at every step of their study abroad journey! And trust us, we love to cater them!
                    br
                    br

                    |Maxxcell's yet another distinguishing feature is its 
                    b 98% Visa Success Rate. 
                    |With this track record, we have sent hundreds of students to their dream destinations and are in the process of sending many more. We understand that applying for VISA is an overwhelming task. With enormous paperwork and documentation, it can break the most robust soul on this earth, but not us! Yes, Maxxcell's wise sages can shoo your VISA woes by supporting you at every step. Our experts have the necessary experience and knowledge to help you sail through this complex visa application process and claim your visa with greater confidence! 
                    


 
                .aboutMainclass.col-md-5.order-md-1.order-1
                  img.responsiveImg(src="../static/images/about/Welcome-to-Maxxcell.jpg", alt="Maxxcell-welcom-image", srcset="")

            section#missionVision.container
              .row.featurette.bg-light.rounded-2
                .aboutMainclass.col-md-7.order-md-1.order-2
                  h2.text-center
                    | Mission, Vision, Values and Company culture  
                  h6.card-title.text-start 
                    | Mission
                  p
                    | We provide information, counseling, and coaching to equip learners with affordable and achievable worldwide education.
                    br
                    
                  h6.card-title.text-start 
                    | Vision 
                  p  
                    | On the Ed-Tech platform, we will be the most desired learning solution and information supplier by 2024.
                  
                  ul.text-start(type='disc')
                       li By providing comprehensive, high quality content.
                       li By utilizing a precise and unique methodology.
                       li By developing a user-friendly web/mobile application.
                       li By putting together a devoted team working toward a same goal.
                       
                  
                    
                  h6.card-title.text-start 
                    | Values 
                  p
                    | Committed
                    br
                    | Integrity
                    br
                    | Time-bound
                    br
                    | Excellence      
                    br
                    
                  h6.card-title.text-start 
                    | Company culture
                  p 
                    | We believe in work-life balance and having team members who are easy to work with.   

                .aboutMainclass.col-md-5.order-md-2.order-1
                  img.responsiveImg(src="../static/images/about/Mission-Vision-CoreValues.jpg", alt="Maxxcell-Institute-mission-vision-values", srcset="")
      
            section#founder.container.my-4
              .row.featurette.bg-light.rounded-2
                .aboutMainclass.col-md-7.order-md-2.order-2
                  h2.text-center
                    | Meet our founder 
                    br
                    br 
                  p
                    | Mr. Shyam Manavat believes that every student deserves a better future! Although for better opportunities they may have to travel abroad, write prerequisite exams like IELTS/TOEFL/GRE, and do loads of paperwork, nothing should stop them. Instead, experts should walk them through this maze and enable them with the right information and resources to materialize their dream. And this is precisely why Maxxcell Institute & Overseas Education Services was founded, to handhold the study abroad aspirants throughout their abroad education journey.
                    br
                    br
                    |However, Mr. Shyam Manavat, who has immense experience in teaching and career counseling always wanted to use his expertise for the noble cause of shaping students' careers and making education more affordable.
                    br
                    

                .aboutMainclass.col-md-5.order-md-1.order-1
                  img.responsiveImg(src="../static/images/about/Our-Founder-Shyam-Manavat.jpg", alt="Shyam-Manavat-founder-CEO-Maxxcell-Institute", srcset="")





    //- footer start

    block footer
        footer#footer
            include footer.pug 
            +footer