mixin achievers 

    #acheivers.carousel.slide(data-bs-ride='carousel')
        .carousel-inner
            .carousel-item.active(data-bs-interval='2000')
                img.d-block.w-100.rounded(src='../static/images/student/01-vaibhavi-vissa-approved.jpg' alt='slide1')
            .carousel-item(data-bs-interval='2000')
                img.d-block.w-100.rounded(src='../static/images/student/2-carmisa-vissa-approved.jpg' alt='slide2')
            .carousel-item(data-bs-interval='2000')
                img.d-block.w-100.rounded(src='../static/images/student/3-tuhin-vissa-approved.jpg' alt='slide3')
            .carousel-item(data-bs-interval='2000')
                img.d-block.w-100.rounded(src='../static/images/student/4-allwyn-ielts-exam-result-goa.jpg' alt='slide4')
            .carousel-item(data-bs-interval='2000')
                img.d-block.w-100.rounded(src='../static/images/student/5-charles-ielts-exam-result-goa.jpg' alt='slide5')
            .carousel-item(data-bs-interval='2000')
                img.d-block.w-100.rounded(src='../static/images/student/6-anthony-ielts-exam-result-goa.jpg' alt='slide6')
            .carousel-item(data-bs-interval='2000')
                img.d-block.w-100.rounded(src='../static/images/student/7-ambika-ielts-exam-result-goa.jpg' alt='slide7')
            .carousel-item(data-bs-interval='2000')
                img.d-block.w-100.rounded(src='../static/images/student/8-venzila-ielts-exam-result-goa.jpg' alt='slide8')
            .carousel-item(data-bs-interval='2000')
                img.d-block.w-100.rounded(src='../static/images/student/9-pradnya-ielts-exam-result-goa.jpg' alt='slide9')
            .carousel-item(data-bs-interval='2000')
                img.d-block.w-100.rounded(src='../static/images/student/10-sherman-ielts-exam-result-goa.jpg' alt='slide10')
            .carousel-item(data-bs-interval='2000')
                img.d-block.w-100.rounded(src='../static/images/student/11-sneha-ielts-exam-result-goa.jpg' alt='slide11')
            .carousel-item(data-bs-interval='2000')
                img.d-block.w-100.rounded(src='../static/images/student/12-sonali-ielts-exam-result-goa.jpg' alt='slide12')
            .carousel-item(data-bs-interval='2000')
                img.d-block.w-100.rounded(src='../static/images/student/13-hetal-ielts-exam-result-goa.jpg' alt='slide13')
            .carousel-item(data-bs-interval='2000')
                img.d-block.w-100.rounded(src='../static/images/student/14-savio-ielts-exam-result-goa.jpg' alt='slide14')
            .carousel-item(data-bs-interval='2000')
                img.d-block.w-100.rounded(src='../static/images/student/15-brandon-ielts-exam-result-goa.jpg' alt='slide15')
            .carousel-item(data-bs-interval='2000')
                img.d-block.w-100.rounded(src='../static/images/student/16-jonathan-ielts-exam-result-goa.jpg' alt='slide16')
            .carousel-item(data-bs-interval='2000')
                img.d-block.w-100.rounded(src='../static/images/student/17-janice-ielts-exam-result-goa.jpg' alt='slide17')


        button.carousel-control-prev(type='button' data-bs-target='#carouselExampleInterval' data-bs-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.visually-hidden Previous
        button.carousel-control-next(type='button' data-bs-target='#carouselExampleInterval' data-bs-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.visually-hidden Next