doctype html 
html
  head
    include head 
    +head
    
    
  body

    block navbar

        include navbar.pug
        +navbar


    block banner 
    
      block content
        .container
            .card.text-white
                img.card-img(src='../static/images/blog/10-Tips-to-remember-before-writing-a-professional-SOP-for-higher-Ranked-Universities.jpg' alt='study')

      .container 
        .row.g-2
          .col-md-2
            .mt-4.pt-4.position-sticky(style='top: 6rem;')
              p
                a(href='#1') Grab the Spotlight:
                  
              p
                  a(href='#2') Share your experiences:
            
              p
                  a(href='#3') Demonstrate your knowledge about the university:
              p
                  a(href='#4') Map your Journey:
              p
                  a(href='#5') Follow the rules:
              p
                  a(href='#6') Language & Tone:
              p
                  a(href='#7') Take Suggestions:
              p
                  a(href='#8') Give yourself the time to write:
              p
                  a(href='#9') Portray yourself indirectly:
              p
                  a(href='#10') Be yourself:
         
          .col-md-10
                    
            section#1.container.my-4
              .row.featurette.bg-light.rounded-2
                  //- .aboutMainclass.col-md-7.order-md-2.order-2
                  h2.text-center
                    | 10 Tips To Remember Before Writing A Professional Statement Of Purpose (SOP) For Higher Ranked Universities
                  br  
                  p
                    | The Statement of Purpose (SOP) is an application essay that is often asked by universities abroad. A student applying for a graduate program at a foreign university is required to write in order to be admitted to the program. It is considered as the best way to express the student’s goals and achievements impressively to the admission officers and faculty members. A good SOP helps applicants to highlight their strengths and achievements.
                  p 
                    | The SOP is one of the most critical components of the admission process. It help colleges and universities to decide if the applicants are really interested in the program that they have applied for, their ability to pursue the program and completing it successfully, and whether they will be able to contribute significantly to the Institute.  
                  p  
                    | The SOP portrays your attitude, your ambition, your clarity of thought and your personality. While the test scores are essentially objective in nature, the SOP is the subjective aspect your application. The SOP gives you the real opportunity to stand out from the crowd.

 
                

            section#2.container
              .row.featurette.bg-light.rounded-2
                  //- .aboutMainclass.col-md-7.order-md-1.order-2
                  h4.text-center
                    | 1. Grab the Spotlight:
                    
                  p
                    | This is the chance for you to tell YOUR story. That’s what the admission committee is interested in. They want to get to know you as a person and this is your absolute chance to bring you out as person and let them to meet you through a paper.
                    
                
            section#3.container.my-4
              .row.featurette.bg-light.rounded-2
                  //-.aboutMainclass.col-md-7.order-md-2.order-2
                  h4.text-center
                    | 2. Share your experiences:
                    br
                    br 
                  p
                    |  This is your chance to tell them your story. Write about the events which changed your perception of how you thought about a specific thing in the field you have studied.

                
            
            section#4.container
              .row.featurette.bg-light.rounded-2
                  //-.aboutMainclass.col-md-7.order-md-1.order-2
                  h4.text-center
                    | 3. Demonstrate your knowledge about the university:
                    
                  p
                    | Go to the Institute’s website to which you want to apply to and read about the researches and projects that are going on right now. Mentioning the name of professors and the researches that impressed you is not a bad idea at all.
            section#5.container.my-4
              .row.featurette.bg-light.rounded-2
                  //-.aboutMainclass.col-md-7.order-md-1.order-2
                  h4.text-center
                    | 4. Map your Journey:
                    
                  p
                    | Talk about how you envision your future, what plans do you have, your dream job, how you plan to grow with your university, contribute to the global market and acquire the requisite skill set for various jobs.  
            section#6.container
              .row.featurette.bg-light.rounded-2
                  //-.aboutMainclass.col-md-7.order-md-1.order-2
                  h4.text-center
                    | 5. Follow the rules:
                    
                  p
                    | The admission committee reviews thousands of applications are easily frustrated by an applicant who didn’t read or observe instructions. If they want 500 words, that’s what you give them. Perfect your grammar and punctuation. Eliminate typos, misspellings or other inaccuracies.
            section#7.container.my-4
              .row.featurette.bg-light.rounded-2
                  //-.aboutMainclass.col-md-7.order-md-1.order-2
                  h4.text-center
                    | 6.Language & Tone:
                    
                  p
                    | Avoid a disrespectful tone. Be humble but be confident. 
                  br
                  p 
                    |Once you are done with writing the draft, keep going through it over and over again until you are confident to let it fall in the hands of the professor who is going to decide if this Statement of Purpose was good enough to make him let you in.

            section#8.container
              .row.featurette.bg-light.rounded-2
                  //-.aboutMainclass.col-md-7.order-md-1.order-2
                  h4.text-center
                    | 7.Take Suggestions:
                    
                  p
                    | n. To write a perfect SOP, taking suggestions and proofread it. One should take assistance from their professors too, since a professor can analyze what another professor looks in their prospective students, and even making the article read by several people will create minimal chances for non-effectiveness.
            section#9.container.my-4
              .row.featurette.bg-light.rounded-2
                  //-.aboutMainclass.col-md-7.order-md-1.order-2
                  h4.text-center
                    | 8.Give yourself the time to write:
                    
                  p
                    | Creating a powerful essay that reflects who you are takes a lot of time. You need to develop ideas, create a first draft, and produce multiple revisions by critiquing and editing. And when you’re finally satisfied, you need to proof your work several times.
            section#10.container
              .row.featurette.bg-light.rounded-2
                  //-.aboutMainclass.col-md-7.order-md-1.order-2
                  h4.text-center
                    | 9.Portray yourself indirectly:
                    
                  p
                    | Your Statement of Purpose is a mirror of your image and thus a hint of pride with confidence is what it should portray and nothing else. 
            section#11.container.my-4
              .row.featurette.bg-light.rounded-2
                  //-.aboutMainclass.col-md-7.order-md-1.order-2
                  h4.text-center
                    | 10.Be yourself:
                    
                  p
                    | One of the most important factors to be kept in mind while writing a SOP is to be yourself. Because even if you’re Statement of Purpose does get cleared, there is a chance you might falter at the time of an interview with the faculty as your stories were not what you are but made up things that you might forget causing a great problem.
            section#11.container
              .row.featurette.bg-light.rounded-2
                  //-.aboutMainclass.col-md-7.order-md-1.order-2
                  h6.text-center
                    | For any queries regarding the GRE exam, email us at info@maxxcell.in .
    
    
    
    
    //- footer start

    block footer
        footer#footer
            include footer.pug 
            +footer