mixin footer 
    .footer-top.mt-4
                .container
                    .row
                        .col-lg-3.col-md-6.footer-contact
                            h3 Maxxcell Institute & Overseas Education Services
                            h6 Nort Goa Office:
                            p
                                | 305, B Wing, Sunteck Kanaka, 
                                br
                                | Opposit KTC Bus Stand, Patto,
                                br
                                | Panjim, Goa, 403001 
                                br
                                strong Phone:
                                |  +91 8806788552
                                br
                            h6 South Goa Office:
                            p
                                | 104, Reliance Magnum 
                                br
                                |               Opposit KTC Bus Stand,
                                br
                                |               Margao, Goa, 403001 
                                br
                                strong Phone:
                                |  +91 7447499733
                                br
                                br
                                strong Email:
                                |  info@maxxcell.in
                                br
                        .col-lg-2.col-md-6.footer-links
                            h4 Useful Links
                            ul
                                li
                                    i.bx.bx-chevron-right
                                    a(href='/') Home
                                li
                                    i.bx.bx-chevron-right
                                    a(href='/blogs-list') Blogs
                                li
                                    i.bx.bx-chevron-right
                                    a(href='/about') About us
                                li
                                    i.bx.bx-chevron-right
                                    a(href='/refund-policy') Refund policy
                                li
                                    i.bx.bx-chevron-right
                                    a(href='/terms-and-conditions') Terms and Conditions
                                li
                                    i.bx.bx-chevron-right
                                    a(href='/privacy-policy') Privacy policy
                        .col-lg-3.col-md-6.footer-links
                            h4 Our Services
                            ul
                                li
                                    i.bx.bx-chevron-right
                                    a(href='ielts-coaching-exam-preparation-online-offline') IELTS Classes
                                li
                                    i.bx.bx-chevron-right
                                    a(href='/toefl-coaching-exam-preparation-online-offline') TOEFL Classes
                                li
                                    i.bx.bx-chevron-right
                                    a(href='/gre-coaching-exam-preparation-online-offline') GRE Classes
                                
                                li
                                    i.bx.bx-chevron-right
                                    a(href='/our-services') Universities Selection
                                li
                                    i.bx.bx-chevron-right
                                    a(href='/our-services') VISA Assistance
                        .col-lg-4.col-md-6.footer-newsletter
                            h4 Join Our Newsletter
                        
                            form(action='' method='post')
                                input.me-2(type='email' name='email')
                                input(type='submit' value='Subscribe')
                hr
                .container.d-lg-flex.pb-4
                    .me-lg-auto.text-center.text-lg-start
                        .copyright
                            | &copy; Copyright 
                            strong
                                span Maxxcell Institute of Professional Studies
                            | . All Rights Reserved
                    .social-links.text-center.text-lg-right.pt-3.pt-lg-0
                        
                        |  &nbsp;
                        a.facebook(href='https://www.facebook.com/maxxcelloverseas/')
                            i.bi.bi-facebook
                        |  &nbsp;
                        a.instagram(href='https://instagram.com/maxxcelloverseas?igshid=YmMyMTA2M2Y=')
                            i.bi.bi-instagram
                        |  &nbsp;
                        a.google-plus(href='https://www.youtube.com/channel/UClfGK4uusmDn5jSmP4JV-AA/featured')
                            i.bi.bi-youtube
                        |  &nbsp;
                        a.linkedin(href='https://www.linkedin.com/school/maxxcell-institute-of-professional-studies/')
                            i.bi.bi-linkedin