doctype html 
html
  head
    include head 
    +head
    
    
  body

    block navbar

        include navbar.pug
        +navbar

    //- end navbar
    block content
    .container
        .card.text-white
            img.card-img(src='../static/images/photo-students-1600x600.jpeg' alt='study')
            #insidePageBanner.card-img-overlay
                #insidePageBanner-1
                    h1 Write the heading here
                    h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, alias.
                    a.btn.btn-primary(href='#')  Get Expert Advoice
                #insidePageBanner-2
                    h1 Write the heading here
                    a.btn.btn-primary(href='#')  Get Expert Advoice
    //- News and Events


    section#mainBody.p-2
    block main_news

        .container
            .row.text-center.g-4
                
                block mainBody
                .col-md-9
                    .bg-light.rounded
                        .card-body
                            h3.card-title.text-center.mb-3
                                | Heading of body Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                | Explicabo, voluptas.
                            p.text-start 
                                |Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae ex ipsa praesentium possimus accusantium hic amet veniam corporis tenetur, quaerat officia incidunt? Soluta id error alias libero recusandae, magnam eligendi rem provident quaerat consequatur! Voluptas architecto accusamus et dolorem quisquam quidem maiores vel sit mollitia vero quasi dolorum eius minima dignissimos nemo enim esse explicabo magni veritatis harum quia animi, facere odio. Quas error beatae, porro dolorem nostrum autem voluptate sequi aut sunt qui dicta quae consectetur debitis sit illum, deleniti at doloremque nesciunt. Reprehenderit minima pariatur vitae consectetur sed, repellat quae facere voluptatibus blanditiis, animi nesciunt recusandae dolorem illo delectus minus totam cupiditate dicta obcaecati illum odit. Error esse modi corporis unde, dolores mollitia laboriosam harum delectus temporibus obcaecati eligendi perferendis natus earum laborum dignissimos id nostrum voluptatem hic blanditiis voluptas voluptatibus ad distinctio. Accusamus nesciunt dolore quas iure eius dolorum, aut libero dolorem repudiandae saepe ratione culpa doloribus officiis minus corrupti aperiam fuga itaque eligendi voluptate ea? Voluptatibus fugiat rem at sequi, veritatis nulla reiciendis explicabo laborum animi nesciunt molestias, officia alias architecto repellendus. Et odio itaque eligendi aperiam id ipsam architecto, nisi ipsa quos repellat ad sequi iure, eum mollitia sunt delectus vitae nam deleniti impedit laboriosam, error voluptatum exercitationem? Officia, dolores necessitatibus ipsum quisquam, dolorum laboriosam, cum nisi magni optio sapiente sint ratione itaque ab illo. Alias necessitatibus atque voluptatem? Illo minus voluptatum molestias asperiores illum voluptatibus optio nulla consectetur eveniet voluptatem, similique distinctio quasi, magnam pariatur a quia eius sunt sequi omnis dignissimos maxime repellendus obcaecati cum? Consectetur, dolore. Quasi labore cum vero! Saepe dignissimos veniam sequi tempora totam harum, alias quae corrupti vero iste, facilis fuga vitae a consequuntur asperiores quam, expedita veritatis. Velit aliquid vitae ipsam labore, adipisci veniam fugit natus perspiciatis ea quae, ipsum asperiores dolorum possimus qui odio quos laudantium corporis?
                            p.text-start   
                                |Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima necessitatibus deserunt nulla reiciendis fugiat ullam illum laudantium magnam repellendus? Adipisci numquam, quidem ut placeat temporibus sapiente rem accusantium voluptatum modi voluptatibus similique! Alias ipsa facilis soluta pariatur dolor ab ducimus, nobis excepturi vitae aspernatur a recusandae, perferendis laborum iure sint fugiat, quisquam reprehenderit inventore distinctio. Amet eius sed est molestiae accusamus aliquid quo cumque autem molestias minus quia, non quasi? Dignissimos, quod blanditiis maxime quisquam totam cumque itaque omnis dolore nobis aspernatur voluptates voluptas asperiores dolores beatae nemo et voluptatibus corporis accusantium officia optio. Sed omnis enim ipsa. Magnam, eius debitis nobis cum, beatae veniam ex, nulla soluta omnis deserunt rem maxime? Et ad fugit hic provident magni ipsum nesciunt est error, doloribus placeat nemo aliquid nobis impedit, non doloremque adipisci iure, consequuntur ab quae dolore possimus id voluptates amet perspiciatis. Explicabo assumenda iusto velit nisi commodi molestiae a placeat, temporibus nulla odio vitae natus aspernatur fuga alias dolorem praesentium adipisci dolor quibusdam nemo culpa error dolore? Molestiae quidem, doloremque recusandae reprehenderit ad odit qui iste iure dolorum saepe ducimus quia libero, nostrum voluptatum, debitis alias culpa praesentium rem nulla? Deleniti similique magni labore voluptatum! Voluptatem nam officiis omnis earum hic nisi dolor tenetur, dolorum, consequatur aliquid ratione quam sit, explicabo dolorem. Consectetur omnis dolorem, aspernatur autem vitae incidunt ratione quasi. Dolorum eos magni, ipsam nam a eaque aliquam labore illo quaerat fuga sed nobis cum, quibusdam illum quod odio, quam saepe debitis? Saepe delectus adipisci cumque, quae fugit animi quas molestias voluptatem iste excepturi. Voluptatum, saepe delectus ducimus cumque repudiandae, facilis accusamus dolores voluptatibus magnam error velit soluta doloremque nisi assumenda reiciendis quis labore obcaecati ad atque harum voluptas odit. Incidunt saepe ducimus placeat quas fugit dolorum mollitia exercitationem consequatur, ex magni inventore aperiam pariatur officiis alias amet error suscipit a voluptas recusandae molestias minus voluptatibus distinctio in. Earum pariatur dolores laudantium sequi optio repellat dignissimos tempora laboriosam reprehenderit esse quaerat nostrum ad recusandae provident maiores autem, dolor dolore non obcaecati harum eum maxime! Eos consectetur recusandae pariatur distinctio vel quia repudiandae repellendus fuga adipisci eligendi voluptas, cumque mollitia necessitatibus? Modi culpa sunt repellendus pariatur consequuntur vel voluptatum! Assumenda quisquam at facere ipsa suscipit numquam voluptatibus officiis totam consectetur odio, voluptatem unde laboriosam provident rem veniam reiciendis reprehenderit debitis laborum nisi ut dolores vitae eum sed doloremque! Repudiandae nesciunt quod atque! Porro fugiat ratione explicabo? Ratione doloremque saepe tempora amet. Sint commodi ullam animi, repudiandae quis fugit, ducimus fuga perferendis tenetur sed mollitia expedita nesciunt pariatur alias placeat in voluptate, ipsum corporis iure? Et molestias sed delectus asperiores veniam temporibus aperiam quasi dolorem officia eos, totam nihil dignissimos voluptatibus animi dolore beatae tempora, placeat doloribus eligendi dolor voluptatum vero.
                
                block news
                .col-md
                    .position-sticky(style='top: 6rem;')
                        .bg-light.rounded.position-sticky
                            .card-body.text-start
                                h3.card-title.mb-3
                                    a.text-dark(href='https://www.google.com/' style='text-decoration: none;') News and Events
                                include news_events.pug
                                +news_events


    //- End News and Events
    block footer
        footer#footer
            .footer-top.mt-4
                .container
                    .row
                        .col-lg-3.col-md-6.footer-contact
                            h3 Maxxcell Overseas Education Services
                            h6 Nort Goa Office:
                            p
                                | 305, B Wing, Sunteck Kanaka, 
                                br
                                | Opposit KTC Bus Stand, Patto,
                                br
                                | Panjim, Goa, 403001 
                                br
                                strong Phone:
                                |  +91 8806788552
                                br
                            h6 South Goa Office:
                            p
                                | 104, Reliance Magnum 
                                br
                                |               Opposit KTC Bus Stand,
                                br
                                |               Margao, Goa, 403001 
                                br
                                strong Phone:
                                |  +91 7447499733
                                br
                                br
                                strong Email:
                                |  info@maxxcell.in
                                br
                        .col-lg-2.col-md-6.footer-links
                            h4 Useful Links
                            ul
                                li
                                    i.bx.bx-chevron-right
                                    a(href='/#') Home
                                li
                                    i.bx.bx-chevron-right
                                    a(href='/#') Blogs
                                li
                                    i.bx.bx-chevron-right
                                    a(href='#') About us
                                li
                                    i.bx.bx-chevron-right
                                    a(href='#') Refund Policy
                                li
                                    i.bx.bx-chevron-right
                                    a(href='#') Terms and Conditions
                                li
                                    i.bx.bx-chevron-right
                                    a(href='#') Privacy policy
                        .col-lg-3.col-md-6.footer-links
                            h4 Our Services
                            ul
                                li
                                    i.bx.bx-chevron-right
                                    a(href='#') IELTS Classes
                                li
                                    i.bx.bx-chevron-right
                                    a(href='#') TOEFL Classes
                                li
                                    i.bx.bx-chevron-right
                                    a(href='#') GRE Classes
                                li
                                    i.bx.bx-chevron-right
                                    a(href='#') GMAT Classes
                                li
                                    i.bx.bx-chevron-right
                                    a(href='#') Universities Selection
                                li
                                    i.bx.bx-chevron-right
                                    a(href='#') VISA Assistance
                        .col-lg-4.col-md-6.footer-newsletter
                            h4 Join Our Newsletter
                            p Tamen quem nulla quae legam multos aute sint culpa legam noster magna
                            form(action='' method='post')
                                input.me-2(type='email' name='email')
                                input(type='submit' value='Subscribe')
                hr
                .container.d-lg-flex.pb-4
                    .me-lg-auto.text-center.text-lg-start
                        .copyright
                            | &copy; Copyright 
                            strong
                                span Maxxcell Institute of Professional Studies
                            | . All Rights Reserved
                    .social-links.text-center.text-lg-right.pt-3.pt-lg-0
                        a.twitter(href='#')
                            i.bi.bi-twitter
                        |  &nbsp;
                        a.facebook(href='#')
                            i.bi.bi-facebook
                        |  &nbsp;
                        a.instagram(href='#')
                            i.bi.bi-instagram
                        |  &nbsp;
                        a.google-plus(href='#')
                            i.bi.bi-youtube
                        |  &nbsp;
                        a.linkedin(href='#')
                            i.bi.bi-linkedin