mixin navbar 
    //- Google Tag Manager (noscript)
    noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-T47878N' height='0' width='0' style='display:none;visibility:hidden')
        //- End Google Tag Manager (noscript)

    nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
            a.navbar-brand(href='/')
                img(src='../static/images/maxxcell-institute-and-overseas-education-services.svg' alt='Maxxcell Institute and Overseas Education Services Logo')
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                    li.nav-item
                        a.nav-link(aria-current='page' href='/about-maxxcell-institute-and-overseas-education-services') About
                    li.nav-item.dropdown
                        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                            | Study Destination
                        ul.dropdown-menu(aria-labelledby='navbarDropdown')
                            li
                                a.dropdown-item(href='/study-in-uk-admission-counseling') Study in UK
                            li
                                a.dropdown-item(href='/study-in-usa-admission-counseling') Study in USA
                            li
                                a.dropdown-item(href='/study-in-canada-admission-counseling') Study in Canada
                            li
                                a.dropdown-item(href='/study-in-ireland-admission-counseling') Study in Ireland
                            li
                                a.dropdown-item(href='/study-in-australia-admission-counseling') Study in Australia
                            
                    li.nav-item.dropdown
                        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                         | Exam Preparation
                        ul.dropdown-menu(aria-labelledby='navbarDropdown')
                            li
                                a.dropdown-item(href='/ielts-coaching-exam-preparation-online-offline') IELTS
                            li
                                a.dropdown-item(href='/gre-coaching-exam-preparation-online-offline') GRE
                            li
                                a.dropdown-item(href='/toefl-coaching-exam-preparation-online-offline') TOEFL
                            
                        li.nav-item
                                a.nav-link(href='our-services') Our Services
                        
                        li.nav-item
                                a.nav-link(href='/blogs-list') Blogs
                        //- li.nav-item
                        //-         a.nav-link(href='/contact-us') Contact Us
                        
