mixin news_events 
    p
        a(href='https://www.w3.org/')
            | IELTS Exam dates in pune
            span.badge.bg-warning New
    hr
    p
        a(href='https://www.google.com/') Lorem ipsum dolor sit amet.
    hr
    p
        a(href='https://www.w3.org/') Lorem ipsum dolor sit amet.
    hr
    p
        a(href='https://www.google.com/') Lorem ipsum dolor sit amet.
    hr
    p
        a(href='https://www.w3.org/') Lorem ipsum dolor sit amet.
    
