mixin news_events 
    p
        a(href='blog-page-10-tips-to-score-a-perfect-170-In-gre-quant')
            | 10 Tips on how to score perfect 170 in GRE Quant
            span.badge.bg-warning New
    hr
    p
        a(href='blog-page-10-Tips-to-crack-the-IELTS-Exam') 10 Tips to crack the IELTS Exam
    hr
    p
        a(href='blog-page-10-Tips-to-remember-before-writing-a-professional-SOP-for-higher-Ranked-Universities') 10 Tips to remember before writing a Professional SOP for Higher rank universities
    hr
    p
        a(href='blog-page-Top-10-Programs-for-Data-Science-in-USA') TOP 10 programs for Data Science in USA
    hr
    p
        a(href='blog-page-Top-Universities-to-consider-to-study-in-Australia') TOP universities to consider to Study in Australia
    
