doctype html 
html
  head
    include head 
    +head
     title Privacy policy Maxxcell Institute & Overseas #{title}
    meta(name='keywords' content='privacy policy Maxxcell Institute & Overseas')
    meta(name='description' content='Maxxcell.in is committed to protecting your right to privacy and it is our policy to respect the privacy of private communication. The information you provide to us will be held on Maxxcell Institute’s own servers or on third party servers contracted by Maxxcell')
    
    
  body


    block navbar

        include navbar.pug
        +navbar

    //- end navbar
    
    //- News and Events


    section#mainBody.p-2
    block main_news

        .container
            .row.text-center.g-4
                
                block mainBody
                .col-md-12
                    .bg-light.rounded
                        .card-body
                            h3.card-title.text-center.mb-3
                                | Privacy Policy
                                
                            p.text-start 
                              | Maxxcell.in is committed to protecting your right to privacy and it is our policy to respect the privacy of private communication. The information you provide to us will be held on Maxxcell Institute’s own servers or on third party servers contracted by Maxxcell Institute. These may be based in India or abroad. In some cases, information may be stored in a country other than the one you access the site from. The database is stored on servers secured behind a firewall; access to the servers is password-protected and is strictly limited. However, as effective as our security measures are, no security system is impenetrable.
                            p.text-start 
                              | We collect information about our customers in order to help us continually improve the service we offer and so that we can enter into commercial arrangements.
                            p.text-start
                              | This Privacy Policy only relates to maxxcelloverseas.com and maxxcell.in and does not extend to your use of the Internet outside of maxxcelloverseas.com and maxxcell.in.
                            p.text-start
                              | We may change our privacy policy from time to time to incorporate necessary future changes. Of course, our use of any information we gather will always be consistent with the policy under which the information was collected, regardless of what the new policy may be.
                            
                            h6.card-title.text-start 
                              | 1. What information is collected?
                            p.text-start 
                              | We require customers who register to use the services offered on our Site (collectively, the “Service”) to give us contact information, such as their name, address, phone number, and e-mail address. If you choose to pay for any of the online or offline courses or study materials offered for sale through this website, billing information such as billing name and address, and credit card number will be collected to complete the transaction.
                            p.text-start   
                              | When you browse our website or our blogs, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.
                            p.text-start 
                              | We may combine personal information collected from you with other information from data available with us to provide a better overall experience, including customising content for you in both forms – online (or electronic) as well offline.
                            p.text-start 
                              | We are the sole owners of your information collected by us at several different points on our Website.
                           
                            h6.card-title.text-start  
                              | 2. Consent for electronic communication
                            p.text-start
                              | If you have registered for any of our services that requires you to provide us with your email, you consent to receiving electronic communications from Maxxcell Institute and or its parent company, Maxxcell Institute of Professional Studies Pvt. Ltd. These communications will include notices about your account (e.g., activation of account, expiration of account and receiving e-mails and other transactional information) and information concerning or related to our service, such as new product launch or other announcements, or offerings. These communications are part of your relationship with Maxxcell Institute.
                            p.text-start
                              | In order to tailor our subsequent communications to you and continuously improve our products and services (including registration), we may ask you to provide us with information regarding your personal or professional interests, experience with our products and services, and more detailed contact preferences. Customers and visitors always have the option of choosing not to provide us with this information. Not providing this additional information will in no way affect the promised delivery of services.
                            p.text-start 
                              | If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.
                            
                            h6.card-title.text-start 
                              | How can you withdraw your consent?
                            p.text-start
                              | If after you opt-in to receive marketing messages, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at info@maxxcell.in.
                            
                            h6.card-title.text-start 
                              | 3. Disclosure – for legal reasons
                            P.text-start 
                              | We will share personal information with companies, organisations or individuals outside of Maxxcell Institute if it is necessary to:
                            p 
                               ul.text-start(type='disc')
                                li meet any applicable law, regulation, legal process or enforceable governmental request
                                li enforce applicable Terms of Service, including investigation of potential violations
                                li detect, prevent, or otherwise address fraud, security or technical issues
                            h6.card-title.text-start 
                              | 4. Payment Gateway
                               
                            p.text-start 
                              | All financial and billing information that we collect through the Site is used solely to check the qualifications of prospective customers and to bill for the Service. Maxxcell Institute uses third-party intermediary(ies) to manage the credit card processing. This intermediary uses the information for the sole purpose of credit card processing. This billing information is not used by Maxxcell Institute for marketing or promotional purposes.
                            p.text-start  
                              | We or the third party intermediary(ies) do not store your card data on their servers. The data is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS) when processing payment. Your purchase transaction data is only used as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is not saved.
                            p.text-start 
                              | Our payment gateway adheres to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover. PCI-DSS requirements help ensure the secure handling of credit card information by our store and its service providers.
                            
                            h6.card-title.text-start 
                              | 5. Disclosure – Third party for fulfillment of service
                               
                            p.text-start 
                              | The third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.
                            p.text-start  
                              | However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.
                            p.text-start 
                              | For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.
                            p.text-start 
                              | In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.
                            p.text-start 
                              | Once you leave our website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.
                            h6.card-title.text-start 
                              | Links
                               
                            p.text-start 
                              | When you click on links on our website, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.
                            h6.card-title.text-start 
                              | 6. Security and Retention of data
                               
                            p.text-start 
                              | To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.
                            h6.card-title.text-start 
                              | Retention of Information
                               
                            p.text-start 
                              | Maxxcell Institute will keep personal information of its users for as long as they are registered subscribers or users of our products and services, and for a reasonable time thereafter.
                            h6.card-title.text-start 
                              | 7. Cookies and opting out
                               
                            p.text-start 
                              | We use cookies to maintain the session of your use. It is not used to personally identify you on other websites.
                            h6.card-title.text-start 
                              | Google Anayltics and information collected
                               
                            p.text-start 
                              | Google Analytics is a web analysis service provided by Google. Google utilises the data collected to track and examine the use of maxxcelloverseas.com and all subdomains of maxxcelloverseas.com, to prepare reports on the activities of the websites and share them with other Google services.
                            p.text-start 
                              | Google may use the data collected to contextualise and personalise the ads of its own advertising network.
                            p.text-start 
                              | For more detailed information about personal data collected, cookie and usage data collected by Google and the place of processing such information, refer to Google’s privacy policy here.
                            h6.card-title.text-start 
                              | Facebook Remarketing
                               
                            p.text-start 
                              | Facebook Custom Audience is a Remarketing and Behavioral Targeting service provided by Facebook, Inc. that connects the activity of this Application with the Facebook advertising network.
                            p.text-start 
                              | Personal Data collected: Cookies and email address. For more detailed information about personal data collected, cookie and usage data collected by Facebook and the place of processing such information, refer to Facebook’s privacy policy here.
                            h6.card-title.text-start 
                              | 8. Age of Consent
                               
                            p.text-start 
                              | By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
                            h6.card-title.text-start 
                              | 9. Changes to this privacy policy
                               
                            p.text-start 
                              | We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.
                            p.text-start 
                              | If our website is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to offer services to you.
                            h6.card-title.text-start 
                              | 10. Questions and contact information 
                               
                            p.text-start 
                              | If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact us at info@maxxcell.in.
                
                
                
                
                
                
                
               


   


    
            
        //- footer start

    block footer
        footer#footer
            include footer.pug 
            +footer