mixin testimonial
            .container
                .m-4.text-center
                    h2 Students&apos; love for Maxxcell Overseas
                .owl-carousel.owl-theme.row
                    //slide 1
                    .testSlide
                        .d-flex
                            img#imgShape(src='../static/images/Testimonials/Blason_Cardoso.jpg' alt='Blason_Cardoso')
                            h4 Blason Cardozo
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="five_star_rating", srcset="img_five_star_rating.png")
                            p
                                | Maxxcell institute has helped me get a good score in my first attempt in IELTS exam. My mentors were very professional in their approach and all they provided necessary study materials. Maxxcell is definitely one of the best options for any student specially in Goa where they’ve a physical presence classes with proper protocols followed during the pandemic. Altogether it’s a great experience here at maxxcell overseas study & consultation.
                    //slide 2
                    .testSlide
                        .d-flex 
                            img#imgShape(src='../static/images/Testimonials/Desmon_Antao.jpg' alt='Desmon_Antao')
                            h4 Desmon Antao
                        
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="", srcset="img_five_star_rating.png")
                            
                            p
                                | I highly recommend Maxxcell to anyone who want to take IELTS Test. Regular practice exercises, mock tests along with great faculty will help you achieve your desired score.
                    
                    .testSlide
                        .d-flex 
                            img#imgShape(src='../static/images/Testimonials/Richard_Azavedo.jpg' alt='Richard_Azavedo')
                            h4  Richard Azavedo
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="five_star_rating", srcset="img_five_star_rating.png")
                            p
                                | I had attended Maxxcell for IELTS coaching and I scored good marks in the exams. The professional and experienced teaching staff helped me in getting command over English language and even my speaking skills improved. Thank u teacher from Maxxcell for mentoring me towards success.
                    
                    .testSlide
                        .d-flex 
                            img#imgShape(src='../static/images/Testimonials/Anmol_Kumar.jpg' alt='Anmol_Kumar')
                            h4 Anmol Kumar
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="five_star_rating", srcset="img_five_star_rating.png")
                            p
                                | The IELTS teaching staff is very good .They will help you at every step of your preperation.
                                | Their valuable feedback helped me score an overall 8 in my UKVI test
                    
                    .testSlide
                        .d-flex
                            img#imgShape(src='../static/images/Testimonials/Jhanvi_Athayle.jpg' alt='Jhanvi_Athayle')
                            h4 Janhavi Athayle
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="five_star_rating", srcset="img_five_star_rating.png")
                            p
                                | The IELTS classes of Maxxcell were very professionally and effectively taken by Lorrita ma'am. With her guidance, I was able to excel in my examination and I'm deeply grateful to her and the other faculty as well. Haloise from management efficiently followed up during this entire process which was very beneficial considering the minute details involved in this process. Extremely satisfied with Maxxcell staff.
                    
                    .testSlide
                        .d-flex
                            img#imgShape(src='../static/images/Testimonials/Simonella_Fernandes.jpg' alt='Simonella_Fernandes')
                            h4 Simonella Fernandes
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="five_star_rating", srcset="img_five_star_rating.png")
                            p
                                | I'm happy I joined the Maxxcell Institute. Ms. Loretta directed me well through the entire interaction and with her assistance, I was able to accomplish a decent score. Despite the fact that it was an online class, Ma'am Loretta showed individual interest.
                    
                    .testSlide
                        .d-flex
                            img#imgShape(src='../static/images/Testimonials/Athira_Ajay.jpg' alt='Athira_Ajay')
                            h4 Aathira Ajay
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="five_star_rating", srcset="img_five_star_rating.png")
                            p
                                | Maxxcell has helped me get a good score in IELTS in my first attempt itself. They had a very professional approach and all the necessary study materials were provided. Both my mentors helped and guided me really well. I would recommend the institude for all those who are looking forward to answering ielts.
                    
                    .testSlide
                        .d-flex
                            img#imgShape(src='../static/images/Testimonials/Johan_Silvera.jpg' alt='Johan_Silvera')
                            h4 Johan Silveira
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="five_star_rating", srcset="img_five_star_rating.png")
                            p
                                | Maxxcell has helped me a lot in achieving a good score for the IELTS exam. The type of teaching and training provided by Maxxcell for the IELTS exam is if utmost importance and is very valuable, which could be used in Interviews as well in the future. I thank Maxxcell for helping me get a good score in the IELTS exam.
                    
                    .testSlide
                        .d-flex
                            img#imgShape(src='../static/images/Testimonials/Rohan_Lorena.jpg' alt='Rohan_Lorena')
                            h4 Ronan Lorena
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="five_star_rating", srcset="img_five_star_rating.png")
                            p
                                | Maxxcell institute had helped me a lot by making the IELTS exam very simple to understand and even by accommodating during the covid pandemic by having online classes and occasional physical classes, which helped me to have a flexible time table.
                    
                    .testSlide
                        .d-flex
                          img#imgShape(src='../static/images/Testimonials/Kezia_De_Noronha.jpg' alt='Kezia_De_Noronha')
                          h4 Kezia De Noronha
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="five_star_rating", srcset="img_five_star_rating.png")
                            p
                                | The IELTS training course with maxxcell was a wonderful experience. All the modules were completed in depth with a lot of practice papers. The institution staff are very friendly and also individual attention is given to students to help improve in weaker areas.
                    
                    .testSlide
                        .d-flex 
                            img#imgShape(src='../static/images/Testimonials/Nadia_Pinto.jpg' alt='Nadia_Pinto')
                            h4 Nadia Pinto
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="five_star_rating", srcset="img_five_star_rating.png")
                            p
                                | I would like to express my appreciation and gratitude to Maxxcell Institute as they have helped me in every aspect. My IELTS trainer Ms.Loretta was very approachable and all the study material was provided helping me to achieve the band that I aimed for. Similarly as I am pursuing my Master’s in UK , Ms. Anjali has provided me guidance in the entire procedure of application to the Universities and the Visa process as well.  I am thankful to Maxxcell and highly recommend the Institute to those aspiring to study abroad
                    
                    .testSlide
                        .d-flex
                            img#imgShape(src='../static/images/blank-image.jpg' alt='blank-image')
                            h4 Ann Soosan Jose
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="five_star_rating", srcset="img_five_star_rating.png")
                            p
                                | Thank you for taking effort in every way, especially during the pandemic. Thank you for helping us achieve our dreams. God bless you all.
                    
                    .testSlide
                        .d-flex
                            img#imgShape(src='../static/images/Testimonials/Royden_Pires.jpg' alt='Royden_Pires')
                            h4 Royden Pires
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="five_star_rating", srcset="img_five_star_rating.png")
                            p
                                | Maxxcell has guided me right from the start, even before I started with my application process for overseas studies. They gave me an overview of how everything will be done and then helped me throughout all the stages involved in the application process. Everything was done systematically. The team there is amazing.
                    
                    .testSlide
                        .d-flex
                            img#imgShape(src='../static/images/blank-image.jpg' alt='blank-image')
                            h4 Issac Fernandes
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="five_star_rating", srcset="img_five_star_rating.png")
                            p
                                | Thanks to Maxxcell I was able to get admission to the university I wanted with the least amount of hassle. They helped to arrange all the required documents in the most efficient way. During my internship away from home, Maxxcell took care of everything. I definitely recommend Maxxcell.
                    
                    .testSlide
                        .d-flex
                            img#imgShape(src='../static/images/blank-image.jpg' alt='blank-image')
                            h4 Kim C
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="five_star_rating", srcset="img_five_star_rating.png")
                            p
                                | Maxxcell Institute is very well known for their endeavors and has indeed lived up to their name. I had done my IELTS training at this institute and the faculty have been very helpful and understanding at every step. They were very patient and wouldn't mind taking extra hours out just to help students throughout the entire process of selection and application of universities abroad.
                    
                    .testSlide
                        .d-flex
                            img#imgShape(src='../static/images/blank-image.jpg' alt='blank-image')
                            h4 Varad Skarekar
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="five_star_rating", srcset="img_five_star_rating.png")
                            p
                                | Maxxcell has best education services in Goa. I applied my masters and also took IELTS classes. The staff is very friendly and helpful. I got my Australian Visa within 2days after applying. I would like to thank shyam sir and tejal ma'am for helping me with my application and visa
                    
                    .testSlide
                        .d-flex    
                            img#imgShape(src='../static/images/Testimonials/Kenlum_Martins.jpg' alt='Kenlum_Martins')
                            h4 Kenlum Martins
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="five_star_rating", srcset="img_five_star_rating.png")
                            p
                                | I would recommend this institute if you plan to study abroad! Maxxcell understands your interests and needs and guides you step by step to achieve your dreams right from  IELTS coaching classes to college selection, college application procedures to visa application, and also polite and friendly staff! Would like to specially thank Shyam sir and Tejal ma'am for helping me throughout and getting me one step closer to my dreams
                    
                    .testSlide
                        .d-flex
                            img#imgShape(src='../static/images/Testimonials/Chirag_Vhatte.jpg' alt='Chirag_Vhatte')
                            h4 Chirag Vhatte
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="five_star_rating", srcset="img_five_star_rating.png")
                            p
                                | The staff here is very friendly, and considering all the work they did to secure me a position in Queensland University of Technology, Brisbane, Maxxcell is definitely one of the best options for any student, specially in Goa where they've a physical presence, for overseas study consultation.
                    
                    .testSlide
                        .d-flex
                            img#imgShape(src='../static/images/blank-image.jpg' alt='blank-image')
                            h4 Deependra Khatri
                        .info
                            img#starRating(src="../static/images/five_star_rating.png", alt="five_star_rating", srcset="img_five_star_rating.png")
                            p
                                | Hello, my name is Deependra Khatri and i have applied for masters in international tourism and hotel management in Southern Cross university, Australia. I have applied through maxcell overseas which have helped me through whole process of university selection to visa processes. The staff were very helpful and humble. I recommend anyone who wants to pursue their career in abroad to visit maxxcell overseas. Thank you
                    
                    